.catchAreares {
  display: none;
}

/* .catchAreares > .title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #333333;
  text-align: center;
  letter-spacing: 1px;
}

.catchAreares > .title > span {
  color: #ff3f00;
}

.catchAreares > .companyDir {
  position: relative;
  margin-top: 90px;
}

.catchAreares > .companyDir img {
  width: 90%;
  height: auto;
  max-width: 900px;
}

.catchAreares > .problem {
  position: relative;
  margin-top: 125px;
}

.catchAreares > .problem img {
  width: 100%;
  height: auto;
} */

@media screen and (max-width: 767px) {
  .catchAreares {
    display: block;
  }
  .catchAreares > .logo {
    display: block;
    width: 88px;
    margin: 30px auto 0;
  }
  .catchAreares > .logo img {
    width: 100%;
    height: auto;
  }
  .catchAreares > .title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.7;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .catchAreares > .title > span {
    color: #ff3f00;
  }
  .catchAreares > .companyDir {
    position: relative;
    margin-top: 20px;
  }

  .catchAreares > .companyDir img {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: auto;
    max-width: 339px;
  }
  .catchAreares > .desc {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.7;
    color: #333333;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .catchAreares > .desc > span {
    color: #ff3f00;
  }
  .catchAreares > .problem {
    position: relative;
    margin-top: 20px;
  }

  .catchAreares > .problem img {
    width: 100%;
    height: auto;
  }
  .catchAreares .cvTxt1 {
    display: block;
    width: 282px;
    margin: 50px auto 5px;
    text-align: center;
    font-size: 12px;
    color: #1a742c;
    font-weight: 600;
  }
  .catchAreares .btn {
    display: block;
    width: 350px;
    margin: auto;
  }
  .catchAreares .btn img {
    width: 100%;
    height: auto;
  }
  .catchAreares .cvTxt2 {
    display: block;
    width: 282px;
    margin: 0px auto 50px;
    text-align: center;
    font-size: 10px;
    color: #1a742c;
        font-weight: 600;

  }
}
