.embeddedEfPc {
  position: fixed; /* ここを変更 */
  top: 0;
  left: 0; /* 左側に固定するために追加 */

  /* position: relative; */
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  min-width: 346px;
  height: 100vh;
  min-height: 527px;
  overflow: auto;
  color: #1a742c;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgb(0 0 0 / 32%);
}

.embeddedEfPc > .text,
.embeddedEfPc > .cvButton,
.embeddedEfPc > .title {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
}

.embeddedEfPc > .small {
  font-size: 1.6rem;
}
.embeddedEfPc > .small > span {
    font-weight: 400;
      font-size: 1.6rem;


color: #1a742c;
}

.embeddedEfPc > .title > img {
  text-align: center;
  width: 212px;
}

.embeddedEfPc > .cvButton > a > img {
  text-align: center;
  width: 350px;
  margin-top: 20px;
}

.embeddedEfPc > .text {
  font-weight: 600;
  color: #F85D38;
  margin: 0;
  font-size: 2.3rem;
  line-height: 0.8;
}

@media screen and (max-width: 1248px) {
  .embeddedEfPc:before {
    border-width: 0 0 64px 320px;
  }
}

@media screen and (max-width: 767px) {
  .embeddedEfPc {
    display: none;
  }
}
