*,
:after,
:before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  scroll-behavior: smooth; 

}

html {
  margin: 0;
  padding: 0;
  overflow: inherit;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 1000px;
  font-family: Noto Sans JP, 游ゴシック体, Yu Gothic, Arial, sans-serif;
  color: #333;
  margin: 0;
  list-style-type: none;
}

.app-wrapper {
  width: 100%;
  overflow-x: hidden; /* コンテナ内の横方向のオーバーフローを隠す */
}

@media screen and (max-width: 767px) {
  body {
    min-width: auto; /* スマホ表示ではmin-widthを解除する */
  }

  .app-wrapper {
    overflow-x: hidden; /* スマホ表示では横方向のオーバーフローを隠す */
    width: 100%;
    min-width: 375px;
  }
}
