.step {
  width: 100%;
  background-color: #fff;
  margin-top: 0px;
}

.step > .inner {
  width: 970px;
  margin: auto;
  text-align: center;
}

.step > .inner > .title {
  width: 652px;
  margin: 18px auto 0;
  padding-top: 78px;
}
.step > .inner > .title > img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.step > .inner > .main {
  width: 970px;
  margin: 18px auto 0;
  padding-top: 78px;
  padding-bottom: 30px;
}
.step > .inner > .main > img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media screen and (max-width: 767px) {
  .step > .inner {
    width: 100%;
  }
  .step > .inner > .title {
    width: 220px;
    padding-top: 50px;
  }
  .step > .inner > .main {
    width: 340px;
      padding-top: 40px;

  }
}
