
  .cv {
    display: block;
    width: 100%;
  }

  .cvTxt1 {
    display: block;
    width: 375px;
    margin: 50px auto 5px;
    text-align: center;
    font-size: 14px;
    color: #1a742c;
    font-weight: 600;
  }
  .btn {
    display: block;
    width: 90%;
    margin: auto;
  }
  .btn img {
    width: 100%;
    height: auto;
  }
  .cvTxt2 {
    display: block;
    width: 282px;
    margin: 0px auto 50px;
    text-align: center;
    font-size: 10px;
    color: #1a742c;
    font-weight: 600;
  }
